.header__bg {
  margin-right: auto;
  margin-left: auto;

  @media screen and (max-width: 767.98px) {
    background-image: url('../images/logo/mobile/mobile-logo.png'),
      url('../images/bg/header/mobile-bg-image.png');
    background-repeat: no-repeat;
    background-size: 108px 90px, 100% 364px;

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url('../images/logo/mobile/mobile-logo-2x.png'),
        url('../images/bg/header/mobile-bg-image.png');
    }
  }

  @media screen and (min-width: 768px) {
    background-image: url('../images/logo/tablet/tablet-logo.png'),
      url('../images/bg/header/tablet-bg-image.png');
    background-repeat: no-repeat;
    background-size: 180px 150px, 100% 364px;

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url('../images/logo/tablet/tablet-logo-2x.png'),
        url('../images/bg/header/tablet-bg-image.png');
    }
  }

  @media screen and (min-width: 1280px) {
    background-image: url('../images/logo/desktop/desktop-logo.png'),
      url('../images/bg/header/desktop-bg-image.png');
    background-repeat: no-repeat;
    background-size: 238px 201px, 100% 446px;

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url('../images/logo/desktop/desktop-logo-2x.png'),
        url('../images/bg/header/desktop-bg-image.png');
    }
  }
}

.main__bg {
  margin-right: auto;
  margin-left: auto;

  @media screen and (max-width: 767.98px) {
    background-image: url('../images/bg/main/mobile-bg-body.png');
    background-repeat: no-repeat;
    background-size: 100% 2786px;
  }

  @media screen and (min-width: 768px) {
    background-image: url('../images/bg/main/tablet-bg-body.png');
    background-repeat: no-repeat;
    background-size: 100% 2645px;
  }

  @media screen and (min-width: 1280px) {
    background-image: url('../images/bg/main/desktop-bg-body.png');
    background-repeat: no-repeat;
    background-size: 100% 2106px;
  }
}

.body__bg {
  margin-right: auto;
  margin-left: auto;

  @media screen and (min-width: 768px) and (max-width: 1279.98px) {
    background-image: url('../images/bg-lines/tablet-bg-decor.png');
    background-repeat: no-repeat;
    background-size: 100% 2946px;
  }

  @media screen and (min-width: 1280px) {
    background-image: url('../images/bg-lines/desktop-bg-decor.png');
    background-repeat: no-repeat;
    background-size: 100% 2376px;
  }
}
