.header__bg {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  background-color: gba(11, 11, 11, 0.5);
  background-repeat: no-repeat;

  @media screen and (max-width: 767.98px) {
    max-width: 450px;
    background-image: url('../images/logo/mobile-bg/mobile-logo-bg.png'),
      linear-gradient(
        180deg,
        rgba(13, 13, 13, 0) 0%,
        rgba(14, 14, 14, 0.8) 100%
      ),
      url('../images/bg/header/mobile-bg-image.png');
    background-size: 108px 90px, 100% 364px, 100% 364px;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/logo/mobile-bg/mobile-logo-bg-2x.png'),
        linear-gradient(
          180deg,
          rgba(13, 13, 13, 0) 0%,
          rgba(14, 14, 14, 0.8) 100%
        ),
        url('../images/bg/header/mobile-bg-image-2x.png');
    }
  }

  @media screen and (min-width: 768px) {
    max-width: 820px;
    background-image: url('../images/logo/tablet-bg/tablet-logo-bg.png'),
      linear-gradient(
        180deg,
        rgba(13, 13, 13, 0) 0%,
        rgba(14, 14, 14, 0.8) 100%
      ),
      url('../images/bg/header/tablet-bg-image.png');
    background-size: 180px 150px, 100% 364px, 100% 364px;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/logo/tablet-bg/tablet-logo-bg-2x.png'),
        linear-gradient(
          180deg,
          rgba(13, 13, 13, 0) 0%,
          rgba(14, 14, 14, 0.8) 100%
        ),
        url('../images/bg/header/tablet-bg-image-2x.png');
    }
  }

  @media screen and (min-width: 1280px) {
    max-width: 1370px;
    background-image: url('../images/logo/desktop-bg/desktop-logo-bg.png'),
      linear-gradient(
        180deg,
        rgba(13, 13, 13, 0) 0%,
        rgba(14, 14, 14, 0.8) 100%
      ),
      url('../images/bg/header/desktop-bg-image.png');
    background-size: 238px 201px, 100% 446px, 100% 446px;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/logo/desktop-bg/desktop-logo-bg-2x.png'),
        linear-gradient(
          180deg,
          rgba(13, 13, 13, 0) 0%,
          rgba(14, 14, 14, 0.8) 100%
        ),
        url('../images/bg/header/desktop-bg-image-2x.png');
    }
  }
}

.main__bg {
  margin-right: auto;
  margin-left: auto;
  margin-top: -10px;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: bottom;
  padding-top: 15px;

  @media screen and (max-width: 767.98px) {
    max-width: 450px;
    background-image: url('../images/bg/main/mobile-bg-body.png');
  }

  @media screen and (min-width: 768px) {
    max-width: 768px;
    background-image: url('../images/bg/main/tablet-bg-body.png');
    padding-top: 20px;
  }

  @media screen and (min-width: 1280px) {
    max-width: 1280px;
    background-image: url('../images/bg/main/desktop-bg-body.png');
    padding-top: 25px;
  }
}

.body__bg {
  background-color: var(--modal-font-color);
}

.body__no-scroll {
  overflow: hidden;
}

.body__bg--error {
  height: 100vh;
}
