.events {
  display: flex;
  flex-wrap: wrap;
  margin-left: var(--grid-margin-out);
  margin-top: var(--grid-margin-top__out);
}

.events__item {
  flex-basis: calc(
    (100% - var(--grid-margin-in) * var(--grid-item)) / var(--grid-item)
  );
  margin-left: var(--grid-margin-in);
  margin-top: var(--grid-margin-top);
  scale: 1;
  display: block;
  text-align: center;
  transition: transform 0.15s cubic-bezier(0, 0, 1, 0.74);

  &:hover,
  &:focus {
    cursor: pointer;
    transform: scale(1.1, 1.15);
  }
}

.events__container {
  margin-bottom: 5px;
  width: 130px;
  height: 160px;
  border-radius: 50px 0px;
  overflow: hidden;
  background-color: var(--modal-font-color);

  @media screen and (min-width: 767.98px) {
    width: 180px;
    height: 230px;
  }
}

.events__container::before {
  position: absolute;
  content: '';
  display: block;
  width: 110px;
  height: 100px;
  border: 1px solid rgba(220, 86, 197, 0.3);
  border-radius: 50px 0px;
  transform: translate(30px, -10px);

  @media screen and (min-width: 767.98px) {
    width: 155px;
    height: 145px;
    transform: translate(40px, -15px);
  }
}

.events__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.events__title {
  margin-bottom: 5px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.21;
  color: var(--title-color);

  @media screen and (max-width: 767.98px) {
    max-width: 130px;
    overflow-wrap: break-word;
  }

  @media screen and (min-width: 767.98px) {
    font-size: 16px;
    line-height: 1.25;
  }
}

.events__date {
  margin-bottom: 5px;
  font-size: 14px;
  line-height: 1.21;

  @media screen and (min-width: 767.98px) {
    font-size: 16px;
    line-height: 1.25;
  }
}

.events__place {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;

  @media screen and (min-width: 767.98px) {
    font-size: 14px;
    line-height: 1.21;
  }
}

.events__icon {
  margin-right: 5px;
  width: 5px;
  height: 10px;
  fill: var(--text-color-descr);

  @media screen and (min-width: 767.98px) {
    width: 7px;
    height: 10px;
  }
}

.error {
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  color: var(--title-color);

  @media screen and (min-width: 767.98px) {
    font-size: 20px;
  }
}
