.events {
  display: flex;
  flex-wrap: wrap;
  margin-left: var(--grid-margin-min);
  margin-top: var(--grid-margin-min);

  @media screen and (min-width: 767.98px) {
    --grid-margin-min: -30px;
  }

  @media screen and (min-width: 1279.98px) {
    --grid-margin-min: -70px;
  }
}

.events__item {
  flex-basis: calc((100% - var(--grid-margin) * var(--grid-item)) / var(--grid-item));
  margin-left: var(--grid-margin);
  margin-top: var(--grid-margin);
  margin-bottom: 39px;
  display: block;
  text-align: center;

  @media screen and (min-width: 767.98px) {
    --grid-item: 3;
    --grid-margin: 30px;
    margin-bottom: 58px;
  }

  @media screen and (min-width: 1279.98px) {
    --grid-item: 4;
    --grid-margin: 70px;
    margin-bottom: 63px;
  }
}

.events__container {
  margin-bottom: 5px;
  width: 128px;
  height: 161px;
  border-radius: 50px 0px;
  overflow: hidden;
  background-color: green;

  @media screen and (min-width: 767.98px) {
    width: 180px;
    height: 227px;
  }
}

.events__container::before {
  position: absolute;
  content: '';
  display: block;
  width: 109px;
  height: 101px;
  border: 1px solid rgba(220, 86, 197, 0.3);
  border-radius: 50px 0px;
  transform: translate(29px, -9px);

  @media screen and (min-width: 767.98px) {
    width: 153px;
    height: 143px;
    transform: translate(41px, -13px);
  }
}

.events__image {
  width: 100%;
  height: 100%;
}

.events__title {
  margin-bottom: 5px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.21;
  color: var(--title-color);

  @media screen and (min-width: 767.98px) {
    font-size: 16px;
    line-height: 1.25;
  }
}

.events__date {
  margin-bottom: 5px;
  font-size: 14px;
  line-height: 1.21;

  @media screen and (min-width: 767.98px) {
    font-size: 16px;
    line-height: 1.25;
  }
}

.events__place {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;

  @media screen and (min-width: 767.98px) {
    font-size: 14px;
    line-height: 1.21;
  }
}

.events__icon {
  width: 6px;
  height: 9px;
  fill: var(--text-color-descr);

  @media screen and (min-width: 767.98px) {
    width: 7px;
    height: 10px;
  }
}
