.logo {
  position: absolute;
  width: 60px;
  height: 30px;
  left: 23px;
  top: 23px;
  transition: all 0.15s cubic-bezier(0, 0, 1, 0.74);

  &:hover,
  &:focus {
    transform: scale(1.15);
  }

  @media screen and (min-width: 768px) {
    width: 100px;
    height: 50px;
    left: 40px;
    top: 40px;
  }

  @media screen and (min-width: 1280px) {
    width: 135px;
    height: 67px;
  }
}
