.main__title {
  margin: 0 auto;
  padding-top: 80px;
  margin-bottom: 25px;
  max-width: 215px;

  font-weight: 900;
  font-size: 18px;
  line-height: 1.22;
  animation: blimp 2s linear 2;
  color: var(--title-color);
  text-shadow: 0 -40px 100px, 0 0 2px, 0 0 0 var(--text-color-descr), 0 10px 3px #000;

  @media screen and (min-width: 768px) {
    padding-top: 40px;
    max-width: 355px;

    font-size: 30px;
    line-height: 1.23;
  }

  @media screen and (min-width: 1280px) {
    max-width: 590px;
    margin-bottom: 50px;

    font-size: 50px;
    line-height: 1.22;
  }
}

.main__title b {
  color: var(--title-color);
}

@keyframes blimp {
  40% {
    color: inherit;
    text-shadow: inherit;
  }
  81% {
    color: #333;
  }
  82% {
    text-shadow: none;
  }
  82% {
    color: inherit;
    text-shadow: inherit;
  }
  83% {
    color: #333;
    text-shadow: none;
  }
  84% {
    color: inherit;
    text-shadow: inherit;
  }
  89% {
    color: #333;
    text-shadow: none;
  }
  90% {
    color: inherit;
    text-shadow: inherit;
  }
}
