.search-form {
  padding-top: 25px;
  padding-bottom: 52px;
  display: block;
  margin: 0 auto;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
  }

  @media screen and (min-width: 768px) and (max-width: 1279.98px) {
    padding-top: 27px;
    padding-bottom: 123px;
  }

  @media screen and (min-width: 1280px) {
    padding-top: 52px;
    padding-bottom: 133px;
  }
}

.search-field {
  width: 270px;
  padding-left: 30px;
  height: 40px;
  background: rgba(255, 255, 255, 0.2);
  //backdrop-filter: blur(20px);
  border: none;

  border-radius: 20px;
  color: var(--font-color);
}

.search-form__input {
  margin-bottom: 25px;
  @media screen and (min-width: 768px) {
    margin-right: 30px;
    margin-bottom: 0px;
  }
}

.search-form__input::placeholder {
  font-family: Montserrat;
  font-style: normal;
  font-size: 16px;
  line-height: 1.25;
  color: var(--font-color);
}

.search-form__input:focus::placeholder {
  opacity: 0;
}

.input__box {
  position: relative;
}

.search-form__icon {
  position: absolute;
  top: 50%;
  right: 60px;
  transform: translateY(-50%);
  fill: var(--font-color);
}

summary {
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: Montserrat;
  font-style: normal;
  font-size: 16px;
  line-height: 1.25;
  color: var(--font-color);
  text-align: left;
  list-style: none;
}

.dropdown-menu {
  position: relative;
}

summary::after {
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
  display: block;
  content: '';
  width: 15px;
  height: 10px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/icons/Polygon.svg);
}

details[open] summary::after {
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
  display: block;
  content: '';
  width: 15px;
  height: 10px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/icons/Polygon-open.svg);
}
