.search__box {
  padding-bottom: 50px;

  @media screen and (min-width: 768px) and (max-width: 1279.98px) {
    padding-bottom: 125px;
  }
  @media screen and (min-width: 1280px) {
    padding-bottom: 135px;
  }
}

.search-form {
  display: block;
  margin: 0 auto;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
  }
}
.search-form__field {
  width: 270px;
  height: 40px;
  padding-left: 30px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);
  border: none;
  font-family: Montserrat;
  font-style: normal;
  font-size: 16px;
  line-height: 1.25;
  color: var(--font-color);
  border-radius: 20px;
}

.search-form__input {
  color: var(--text-color-descr);
  margin-bottom: 25px;

  @media screen and (min-width: 768px) {
    margin-right: 30px;
    margin-bottom: 0px;
  }
}

.search-form__input:focus {
  outline: inherit;
}
.search-form__input::placeholder {
  color: var(--font-color);
}
.search-form__input:focus::placeholder {
  opacity: 0;
}
.input__box {
  position: relative;
}
.search-form__icon {
  position: absolute;
  top: 35%;
  right: 35px;
  transform: translateY(-50%);
  fill: var(--font-color);

  @media screen and (min-width: 768px) {
    top: 50%;
    right: 60px;
  }
}
.selected {
  outline: inherit;
  position: relative;
  text-align: left;
  padding-top: 10px;
  order: 0;
}

.colored {
  color: var(--text-color-descr);
}
.selected::after {
  content: '';
  background: url('../images/icons/Polygon.svg');
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  height: 10px;
  width: 15px;
  right: 30px;
  top: 15px;
}

.dropdown-menu .options-wrapper.active {
  max-height: 170px;
  opacity: 1;
  border-radius: 0 0 20px 20px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);
  z-index: 101;
}

.dropdown-menu .options__container.active + .selected::before {
  padding-right: 3px;
  padding-left: 6px;
}

.dropdown-menu .options-wrapper.active + .selected {
  border-radius: 20px 20px 0 0;
}

.dropdown-menu .options-wrapper.active + .selected::before {
  z-index: 101;
  position: absolute;
  content: '';
  background: url('../images/icons/Line.svg');
  background-size: contain;
  background-repeat: no-repeat;
  height: 1px;
  width: 225px;
  fill: var(--font-color);
  right: 22.5px;
  transform: translateY(-50%);
  top: 100%;
}
.dropdown-menu {
  position: relative;
  display: flex;
  width: 270px;
  flex-direction: column;
}
.dropdown-menu .options-wrapper {
  position: absolute;
  top: 40px;
  max-height: 0;
  width: 100%;
  opacity: 0;
  overflow: hidden;
  order: 1;
}
.dropdown-menu .options-wrapper.active + .selected::after {
  transform: rotateX(180deg);
}
.dropdown-menu .option {
  padding-left: 24px;
  font-size: 16px;
  line-height: 1.25;
  text-align: left;
  color: #cccccc;
  cursor: pointer;
}

.dropdown-menu .option:not(:last-child) {
  margin-bottom: 2px;
}

.dropdown-menu .option:hover {
  background: #dc56c5;
  color: #ffffff;
}
.dropdown-menu label {
  cursor: pointer;
  pointer-events: none;
}
.dropdown-menu .option .radio {
  display: none;
}

.options__container::-webkit-scrollbar {
  width: 4px; /* ширина для вертикального скролла */
  height: 8px; /* высота для горизонтального скролла */
  background-color: transparent;
}

.options__container::-webkit-scrollbar-thumb {
  background-color: #939393;
  border-radius: 20px;
  height: 43px;

  box-shadow: inset 1px 1px 10px #f3faf7;
}

.options__container::-webkit-scrollbar-thumb:hover {
  background-color: var(--title-color);
}

.options__container::-webkit-scrollbar-button:vertical:start:decrement {
  background-color: transparent;
  height: 6px;
}

.options__container::-webkit-scrollbar-button:vertical:end:increment {
  height: 16px;
  background-color: transparent;
}

.options__container {
  padding-top: 6px;
  max-height: 170px;
  overflow-y: scroll;
}
