.back_to_top {
  position: fixed;
  bottom: 80px;
  right: 40px;
  z-index: 3;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  background: var(--title-color);
  color: var(--modal-font-color);
  cursor: pointer;
  border-radius: 15px 0px;
  display: none;
}
  
.back_to_top:hover {
  background: var(--font-color);
  box-shadow: 1px 1px 10px 3px var( --title-color);
}
  
.back_to_top-show {
  display: block;
}
