.back_to_top {
  position: fixed;
  bottom: 80px;
  right: 40px;
  z-index: 3;
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 30px;
  background: var(--title-color);
  cursor: pointer;
  border-radius: 15px 0px;
  color: var(--text-color-descr);

  @media screen and (max-width: 768px) {
    width: 25px;
    height: 25px;
    font-size: 15px;
    }
}
  
.back_to_top:hover {
  background: var(--title-color);
  box-shadow: 1px 1px 10px 3px var( --title-color);
}
  