<ul class='events list'>
  {{#each this}}
    <li class='events__item'>
      <div class='events__container'>        
        <img class='events__image' src='{{images.0.url}}' alt='' />        
      </div>
      <h2 class='events__title'>{{name}}</h2>
      <p class='events__date'>{{dates.start.localDate}}</p>
      {{#each _embedded.venues}}
      <p class='events__place'>
        <svg class='events__icon'>
          <use href='../images/sprite.svg#icon-location'></use>
        </svg>        
        {{name}}        
      </p>
      {{/each}}
    </li>
  {{/each}}
</ul>
