
  <div class='modal js-modal'>
    <img class='modal__picture' src='' alt='' />

    <div class='modal__body'>
      <div class='modal__cont'>
        <img class='modal__image' src='' alt='' />
      </div>
      <div class='modal__cont'>
        <ul class='list'>
          <li class='modal__item'>
            <h3 class='modal__title'>info</h3>
            <p>
              Atlas Weekend is the largest music festival in Ukraine. More than 200 artists will
              create a proper music festival atmosphere on 10 stages
            </p>
          </li>

          <li class='modal__item'>
            <h3 class='modal__title'>when</h3>
            <p>
              2021-06-09
              <br />
              20:00 (Kyiv/Ukraine)
            </p>
          </li>

          <li class='modal__item'>
            <h3 class='modal__title'>where</h3>
            <p>
              Kyiv, Ukraine
              <br />
              VDNH
            </p>
          </li>

          <li class='modal__item'>
            <h3 class='modal__title'>who</h3>
            <p>
              The Black Eyed Peas
            </p>
          </li>

          <li class='modal__item'>
            <h3 class='modal__title'>prices</h3>
            <ul class='list'>

              <li class='modal__price'>
                <p class='modal__text'>
                  <svg class='modal__icon' viewBox='0 0 44 32'>
                    <path
                      d='M4.91 1.269h-4.91v29.461h4.91v-29.461zM17.26 1.269h-4.911v29.461h4.911v-29.461zM24.699 1.269h-4.91v29.461h4.91v-29.461zM44.19 1.269h-7.291v29.461h7.291v-29.461zM9.819 1.269h-2.38v29.461h2.38v-29.461zM29.46 1.269h-2.38v29.461h2.38v-29.461zM34.37 1.269h-2.38v29.461h2.382v-29.461z'
                    ></path>
                  </svg>
                  Standart 300-500 UAH
                </p>
                <button class='modal__button modal__buy-button' type='button' data-modal-open>BUY
                  TICKETS</button>
              </li>

              <li class='modal__price'>
                <p class='modal__text'>
                  <svg class='modal__icon' viewBox='0 0 44 32'>
                    <path
                      d='M4.91 1.269h-4.91v29.461h4.91v-29.461zM17.26 1.269h-4.911v29.461h4.911v-29.461zM24.699 1.269h-4.91v29.461h4.91v-29.461zM44.19 1.269h-7.291v29.461h7.291v-29.461zM9.819 1.269h-2.38v29.461h2.38v-29.461zM29.46 1.269h-2.38v29.461h2.38v-29.461zM34.37 1.269h-2.38v29.461h2.382v-29.461z'
                    >
                    </path>
                  </svg>
                  VIP 1000-1500 UAH
                </p>
                <button class='modal__button modal__buy-button' type='button' data-modal-open>BUY
                  TICKETS</button>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>

    <button class='modal__button modal__more-button' type='button' data-modal-open>
      MORE FROM THIS AUTHOR
    </button>

    <button class='modal__close-button' data-modal-close>
      <div class="modal__outer">
        <div class="modal__inner">
          <span class="modal__label">CLOSE</span>
        </div>
      </div>
    </button>

  </div>